// Footer
////////////////////

.footer {

	h3 {
		margin: 0 0 10px;

		@media screen and (min-width: 450px) and (max-width: 767px) {
			text-align: center;
		}
	}

	&:nth-child(1) {
		padding: 20px 0 0;
		background-color: $secondary;

		@media screen and (min-width: 768px) {
			padding: 20px 0;
		}

		// Map
		////////////////////

		.map {

			@media screen and (min-width: 450px) and (max-width: 767px) {
				max-width: 450px;
				margin: 0 auto;
			}

			@media screen and (min-width: 768px) {
				padding-right: 0;
			}

			.inside {
				height: 250px;
				padding: 0;

				iframe {
					height: 250px;
					width: 100%;
					padding: 0;
				}
			}
		}

		// Address
		////////////////////

		.address {

			@media screen and (min-width: 768px) {
				padding: 0;
			}

			@media screen and (min-width: 450px) and (max-width: 767px) {
				max-width: 450px;
				margin: 0 auto;

				address {
					max-width: 175px;
					margin: 0 auto;
				}
			}

			.inside {
				padding: 20px 0;
				background: $secondary-light;
				font-family: $OpenSans;

				@media screen and (min-width: 768px) {
					height: 250px;
				}
			}
		}

		// Office Hours
		////////////////////

		.office-hours {
			margin-bottom: 20px;

			@media screen and (min-width: 768px) {
				margin-bottom: 0;
				padding-left: 0;
			}

			.inside {
				padding: 20px 0;
				background: #fff;
				font-family: $OpenSans;

				@media screen and (min-width: 768px) {
					height: 250px;
				}

				ol {
					margin: 0;
					padding-left: 0;
					list-style-type: none;

					@media screen and (min-width: 450px) and (max-width: 767px) {
						position: relative;
						max-width: 175px;
						margin: 0 auto;
					}

					// The hours
					span:last-child {
						position: absolute;
						left: 50%;
					}
				}
			}

			@media screen and (min-width: 450px) and (max-width: 767px) {
				max-width: 450px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	// Widgets
	////////////////////

	&:nth-child(2) {
		padding: 20px 0 0;
		background-color: $primary;

		.widget {
			margin-bottom: 20px;

			.inside {
				padding: 20px 0;
				background: $primary-light;
				font-family: $OpenSans;

				p {
					margin: 0;
				}
			}

			:nth-child(even) .inside {
				background: #fff;
			}
		}
	}

	&:nth-child(3) {
		padding: 20px 0;
		font-family: $OpenSans;

		@media screen and (min-width: 768px) {
			display: table;
			height: 40px;
			width: 100%;
		}

		a {
			color: $secondary;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}

		// Social Icons
		////////////////////

		.social-icons-container {
			@media screen and (min-width: 768px) {
				display: table-cell;
				vertical-align: middle;
				height: 40px;
			}
		}

		.social-icons {
			padding: 0;
			text-align: center;
			list-style-type: none;

			@media screen and (min-width: 768px) {
				margin: 0;
				padding: 0;
				text-align: right;
			}

			li {
				display: inline-block;

				a {
					display: block;
					margin: 0 10px;

					.icon {
						height: 25px;
						width: 25px;
					}

					.icon-facebook {
						fill: #3b5998;
					}

					.icon-twitter {
						fill: #55acee;
					}

					.icon-google-plus {
						fill: #dc4e41;
					}
				}
			}
		}

		// Attribution
		////////////////////

		.attribution-container {
			@media screen and (min-width: 768px) {
				display: table-cell;
				vertical-align: middle;
				height: 40px;
			}
		}

		.attribution {
			display: block;
			text-align: center;

			@media screen and (min-width: 768px) {
				@include vertical-center;
				text-align: left;
			}
		}
	}
}