// Fonts
$Montserrat: "Montserrat", serif;
$OpenSans: "Open Sans", sans-serif;

// Colors
$primary: #24334A;
$primary-light: lighten($primary, 40);
$secondary: #FD5008;
$secondary-light: lighten($secondary, 20);
$secondary-dark: darken($secondary, 20);